{
  "swagger": "2.0",
  "info": {
    "title": "My API",
    "description": "Description",
    "version": "1.0.0"
  },
  "host": "database-1.czzfpqy3oobx.ap-northeast-2.rds.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/comments/{postId}": {
      "post": {
        "tags": [
          "Members"
      ],
        "description": "댓글을 생성하는 API",
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "number"
          },
          {
            "name": "comment",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글이 생성되었습니다"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "댓글 생성에 실패했습니다"
          }
        }
      }
    },
    "/comments/{postId}/{commentId}": {
      "post": {
        "tags": [
          "Members"
      ],
        "description": "대댓글을 생성하는 API",
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "number"
          },
          {
            "name": "commentId",
            "in": "query",
            "required": true,
            "type": "number"
          },
          {
            "name": "comment",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success Request"
          },
          "400": {
            "description": "bad Request"
          },
          "401": {
            "description": "unauthorized"
        }
      }
    }
  },
    "/comments/{commentId}": {
      "patch": {
        "tags": [
          "Members"
      ],
        "description": "댓글을 수정하는 API",
        "parameters": [
          {
            "name": "commentId",
            "in": "query",
            "required": true,
            "type": "number"
          },
          {
            "name": "id",
            "in": "header",
            "type": "number"
          },
          {
            "name": "comment",
            "in": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success Request"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Members"
      ],
        "description": "댓글을 삭제하는 API",
        "parameters": [
          {
            "name": "commentId",
            "in": "query",
            "required": true,
            "type": "number"
          },
          {
            "name": "id",
            "in": "header",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "success Request"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/members/signup": {
      "post": {
        "tags": [
          "Members"
      ],
        "description": "회원가입을 하는 API",
        "parameters": [
          {
            "name": "userId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "nickname",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirmPw",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "success Request"
          }
        }
      },
      "patch": {
        "tags": [
          "Members"
      ],
        "description": "회원 정보를 수정하는 API",
        "parameters": [
          {
            "name": "userId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nickname",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
        },
        "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "success Request"
          }
      }
    },
      "delete": {
        "tags": [
          "Members"
      ],
        "description": "회원 정보를 삭제하는 API",
        "parameters": [
          {
            "name": "userId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
        },
        "200": {
          "description": "success Request"
        }
      }
    }
  },
    "/members/login": {
      "post": {
        "tags": [
          "Members"
      ],
        "description": "로그인을 하는 API",
        "parameters": [
          {
            "name": "userId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
        },
        "200": {
          "description": "success Request"
        }
      }
    }
  }
  }
}