{
  "swagger": "2.0",
  "info": {
    "title": "My API",
    "description": "Description",
    "version": "1.0.0"
  },
  "host": "database-1.czzfpqy3oobx.ap-northeast-2.rds.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/comments/{postId}": {
      "post": {
        "description": "댓글을 생성하는 API",
        "parameters": [
          {
            "name": "postId",
            "in": "params",
            "required": true,
            "type": "number"
          },
          {
            "name": "comment",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원가입에 성공했습니다"
          },
          "400": {
            "description": "회원가입에 실패했습니다"
          }
        }
      }
    },
    "/comments/{postId}/{commentId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/comments/{commentId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/members/signup": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "patch": {
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/members/login": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/posts/": {
      "post": {
        "description": "게시글 작성 API",
        "parameters": [
          {
            "name": "userNum",
            "in": "header",
            "type": "string",
            "description": "유저 번호"
          },
          {
            "name": "title",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "글 제목"
          },
          {
            "name": "content",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "글 내용"
          }
        ],
        "responses": {
          "201": {
            "description": "게시글이 작성되었습니다."
          },
          "400": {
            "description": "게시글 작성에 실패했습니다."
          },
          "401": {
            "description": "Unauthorized(로그인 안 된 상태)"
          }
        }
      },
      "get": {
        "description": "게시글 조회 API",
        "parameters": [],
        "responses": {
          "200": {
            "description": "게시글들을 조회했습니다."
          },
          "400": {
            "description": "게시글 조회에 실패했습니다."
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "description": "게시글 상세 조회",
        "parameters": [
          {
            "name": "id",
            "in": "header",
            "type": "string",
            "description": "게시글 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글을 상세 조회했습니다."
          },
          "400": {
            "description": "게시글 상세 조회에 실패했습니다."
          }
        }
      },
      "patch": {
        "description": "게시글 수정 API - 해당 게시글의 작성자만 수정할 수 있습니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시글 ID"
          },
          {
            "name": "userNum",
            "in": "header",
            "type": "string",
            "description": "유저 번호"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "description": "게시글 삭제 API - 해당 게시글의 작성자만 수정할 수 있습니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시글 번호"
          },
          {
            "name": "userNum",
            "in": "header",
            "type": "string",
            "description": "유저 번호"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/likes/posts": {
      "get": {
        "description": "좋아요한 게시글 조회 API - 로그인한 유저가 좋아요한 게시글들을 보여줍니다.",
        "parameters": [
          {
            "name": "userNum",
            "in": "header",
            "type": "string",
            "description": "유저 번호"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/likes/posts/{postId}": {
      "put": {
        "description": "게시글 좋아요 API",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시글 번호"
          },
          {
            "name": "userNum",
            "in": "header",
            "type": "string",
            "description": "유저 번호"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}